.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    min-height: 50px;
    padding: 8px 20px;
    z-index: 999;
    background: rgba(77, 78, 88, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(11px);
    border-radius: 8px;
    transform: translate(-50%, -120%);
}

.body {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #1CAE84;
}